<launch>

    <param name="robot_description" command="xacro '$(find lab5)/urdf/robot.xacro'"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <rosparam param="source_list">["joint_state"]</rosparam>
    </node> 
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>  
    <node name="oint" pkg="lab5" type="oint.py" />
    <node name="IKIN" pkg="lab5" type="ikin.py" />
    <node name="NONKDL_DKIN" pkg="lab5" type="nonkdl_dkin.py" />
    
</launch>
